.background-image {
  background-image: url('./images/bg/image-3.jpg');
}

.customer-support-image {
  background-image: url('images/bg/image-2.jpg');
}

.slideshow-image {
  background-image: url('images/bg/image-1.jpg');
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}

#header {
  font-size: 14px;
  font-weight: bolder;
}
